.loginMain{
    /* background-image: url("../../images/Login/last.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #eee;
    position: absolute;
    height: 100%;
    width: 100%;
}